# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build


classes/
/build
buildSrc/build
/jmc-*/build
/src/asciidoc/build
target/

# Eclipse artifacts, including WTP generated manifests
.classpath
.project
jmc-*/src/main/java/META-INF/MANIFEST.MF

# IDEA artifacts and output dirs
*.iml
*.ipr
*.iws
.idea
out
test-output
atlassian-ide-plugin.xml
.gradletasknamecache

.checkstyle
/jmc-*/.checkstyle
