# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Build & Test Snapshot


on:
  push:
  pull_request:
  schedule:
    - cron: '0 1 * * *'
jobs:
  build-snapshot:

    runs-on: ubuntu-24.04

    env:
      JMETER_VERSION: 6.0.0-SNAPSHOT

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: 17
          distribution: 'zulu'

      - name: Cache Gradle Wrapper
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-wrapper-v1-${{ hashFiles('gradle/wrapper/gradle-wrapper.properties') }}

      - name: Cache Gradle
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
          key: ${{ runner.os }}-gradle-snapshot-v6-${{ hashFiles('**/*.gradle*') }}-${{ hashFiles('gradle.properties') }}-${{ hashFiles('gradle/wrapper/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-snapshot-v6

      - name: printenv
        run: printenv

      - name: Java version
        run: java -version

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew --stacktrace --console=verbose -x test build  -PjmeterVersion=$JMETER_VERSION -PjmeterSnapshot

      - name: Test with Gradle
        run: ./gradlew --stacktrace --console=verbose test  -PjmeterVersion=$JMETER_VERSION -PjmeterSnapshot

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v6
        if:   always()
        with:
          report_paths: '**/build/test-results/test/TEST-*.xml'
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish artifact Test Report
        uses: actions/upload-artifact@v5
        if: always()
        with:
          name: reports
          path: '**/build/reports/**'
